/* general */

html {
  background-color: rgb(255, 253, 253);
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


.h1-titel {
  display: flex;
  position: absolute;
  left: 25%;
  top: 40%;
  margin: 0;
  padding: 0;
  font-size: 5rem;
  text-transform: uppercase;
  z-index: 10000000;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h1-titel span {
  display: inline-flex;
  color: black;
}

.h1-titel span:nth-child(2){
  overflow: hidden;
  transition: ease-in-out 0.5s;
  color: black;
  letter-spacing: -1em;
  -webkit-animation: titleSlide 0.60s ease-out both;
          animation: titleSlide 0.60s ease-out both;
          animation-delay: 0.35s; 
}

@-webkit-keyframes titleSlide {
  0% {
    letter-spacing: -1em;
  }
  100% {
    letter-spacing: 0;
  }
}
@keyframes titleSlide {
  0% {
    letter-spacing: -1em;
  }
  100% {
    letter-spacing: 0;
  }
}

.overlay {
  background-color: rgb(255, 253, 253);
  position: fixed;
  left:50%;
  width: 50%;
  height: 100vh;
  z-index: 100; 
  -webkit-animation: reveal 0.65s cubic-bezier(.81,.08,.39,.56);
    -webkit-animation-fill-mode: forwards;
    animation-delay: 0.25s;   
}

@-webkit-keyframes reveal {
  0%   {width: 50%;}
  100% { width: 0%;}
}
@keyframes reveal {
  0%   {width: 50%;}
  100% { width: 0%;}
}


.fade {
  opacity: 0 !important;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* everything left */

.left {
  background-color: rgb(255, 253, 253);
  position: fixed;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;   
  z-index: -10;    
}


.slideOut {
  position: absolute;
  transform: matrix(1, 0, 0, 1, -640, 0);
  -webkit-transform: matrix(1, 0, 0, 1, -640, 0);
  -moz-transform: matrix(1, 0, 0, 1, -640, 0);
  -ms-transform: matrix(1, 0, 0, 1, -640, 0);
  -o-transform: matrix(1, 0, 0, 1, -640, 0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.slideIn {
  transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 1.5s ease-in-out;
  -webkit-transition: all 1.5s ease-in;
  -moz-transition: all 1.5s ease-in;
  -ms-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
}

.intro {
  font-size: 1.6rem;
  font-weight: lighter;
  padding: 9rem 10vh;
  line-height: 1.5;
  pointer-events: none;
  display: flex;
  align-items: center;
  -webkit-animation: slide-in-right 0.9s cubic-bezier(.53,0,.25,.52) both;
          animation: slide-in-right 0.9s cubic-bezier(.53,0,.25,.52) both;
          animation-delay: 1.5s;
}

@-webkit-keyframes slide-in-right {
  0% {
    
    opacity: 0;
  }
  100% {
   
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    
    opacity: 0;
  }
  100% {
    
    opacity: 1;
  }
}

.info {
  padding: 3.5rem 10vh;
  font-size: 1.5vh;
  letter-spacing: 1.5px;
  line-height: normal;
  display: flex;
  flex-flow: row;
  align-content: top;
  list-style: none;
  text-decoration: none;
  -webkit-animation: slide-in-right 0.7s cubic-bezier(.53,0,.25,.52)both;
  animation: slide-in-right 0.7s cubic-bezier(.53,0,.25,.52) both; 
}

.skills, .about, .contact, .contactMe {
  list-style: none;
  text-decoration: none;
  padding: 0 7vh 7vh 0;
  -webkit-animation: slide-in-right 0.7s cubic-bezier(.53,0,.25,.52)both;
          animation: slide-in-right 0.7s cubic-bezier(.53,0,.25,.52) both;      
}

.aboutMe-div div {
  display: flex;
  flex-wrap: wrap;
}

.about-skills {
  flex: 1 1 33%;
  padding: 0 5vh 5vh 0;
  list-style: none;
  text-decoration: none;
}

.skills{
  animation-delay: 0.25s; 
}
.about{
  animation-delay: 0.35s;
}
.contact {
  animation-delay: 0.4s;
}
.contactMe{
  animation-delay: 0.45s;
}

.contactMe {
  padding-right: 2vh;
}

.contact {
  padding-top: 0;
}

.about {
  padding-bottom: 0;
}

.columnTwo {
  display: flex;
}
.head {
  padding: 1rem 0px;
  font-weight: bold;
}

li {
  padding: 0.2rem 0rem;
}

a {
  text-decoration: none;
  color: black;
}

.uitlegTime {
  position: fixed;
  display: block;
  font-size: 10px;
  z-index: 10;
  left: 47.4%;
  top: 110px;
  opacity: 90%;
  transform-origin: 0 0;
  /*transform: rotate(-90deg);
  */width: 100px;
  font-family: "Roboto", sans-serif;
  color: black;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: all 0.5s;
  -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 0.7s;
}

@-webkit-keyframes slide-in-top {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#verticalLine {
  position: relative;
  left: -110px;
  bottom: 104px;
  border-left: 1px solid black;
  border-color: black;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  border-left: 1px solid rgb(0, 0, 0);
  height: 100px;
  -webkit-animation: longer 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
          animation: longer 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
          animation-delay: 0.2s;
}

@-webkit-keyframes longer {
  0% {
    height: 0px;
    
  }
  100% {
    height: 100px;
    
  }
}


.uitlegProjects {
  position: fixed;
  z-index: 20;
  font-size: 10px;
  left: 97.4%;
  top: 110px;
  opacity: 90%;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  width: 150px;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 0.7s;
}

.vlOne {
  transform: rotate(90deg);
  top: -30px;
  right: 186px;
  border-left: 1px solid rgb(0, 0, 0);
  height: 200px;
  position: relative;
  z-index: 100;
  border-color: rgb(0, 0, 0);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-animation: longer2 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
          animation: longer2 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
          animation-delay: 0.2s;
}

@-webkit-keyframes longer2 {
  0% {
    height: 0px;
  }
  100% {
    height: 200px;
  }
}


.messenger {
  position: fixed;
  height: 7.9vh;
  width: 8vh;
  bottom: 4vh;
  right: 4vh;
  background-image: url(email.svg);
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.messenger2 {
  position: relative;
  height: 4vh;
  width: 4vh;
  background-image: url(messenger.png);
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
    -webkit-transform: translate3d(-1px, 0, 0);
    -moz-transform: translate3d(-1px, 0, 0);
    -ms-transform: translate3d(-1px, 0, 0);
    -o-transform: translate3d(-1px, 0, 0);
}
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
    -webkit-transform: translate3d(2px, 0, 0);
    -moz-transform: translate3d(2px, 0, 0);
    -ms-transform: translate3d(2px, 0, 0);
    -o-transform: translate3d(2px, 0, 0);
}

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    -webkit-transform: translate3d(-4px, 0, 0);
    -moz-transform: translate3d(-4px, 0, 0);
    -ms-transform: translate3d(-4px, 0, 0);
    -o-transform: translate3d(-4px, 0, 0);
}

  40%, 60% {
    transform: translate3d(4px, 0, 0);
    -webkit-transform: translate3d(4px, 0, 0);
    -moz-transform: translate3d(4px, 0, 0);
    -ms-transform: translate3d(4px, 0, 0);
    -o-transform: translate3d(4px, 0, 0);
}
}

.messenger:hover {
 animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.messenger2:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
 }
 

.right {
 /* background: url(five.jpg);
  background-size: cover; 
  background-position: top 10% left 10%; */
  background-color: rgb(255, 253, 253);
  width: 50%; 
  position: absolute;
  right: 0;
  z-index: -3;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;

}




.logo img
 {
  pointer-events: auto;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  z-index: 1000000;
  filter: invert(1) contrast(80%) drop-shadow(0px 0px 15px rgb(255, 253, 253)); 
}

.logo img:hover {
  pointer-events: auto;
  filter: invert(1) contrast(180%) drop-shadow(3px 3px 6px rgb(255, 253, 253)); 
}

.logo a {
  position:relative; 
  top:-75px;
  padding-left: 0.2%;
}

/* projects background */

section {
  position: relative;
  height: 150vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  z-index: 10;
  font-size: 12px;
}

.one-bg {
  background-image: url(parfum.jpg);
  background-position: center;
}

.two-bg {
  background-image: url(bladbg.jpg);
  background-position: left 50% top 20%;
}

.three-bg {
  background-image: url(seven.jpg);
  background-position: 20%;
  background-size: cover;
  background-repeat: no-repeat; 
}

.vierkant {
  position: absolute;
  height: 200px;
  width: 40vw;
  background-color: #bf0024;
  z-index: 10;
  right: 0;
}

.card {
  /*border: 10px solid blueviolet;
  */position: absolute;
  background-position: center;
  right: 1%;
  width: 98%;
  left: 1%;
  height: 35%;
  z-index: 1;
  bottom: 20%;
  cursor: pointer;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}

.card p {
  display: none;
}

.one {
  background-image: url(yanji.png);
 
  z-index: 1;
}

.uitlegCardsOne  {
  text-align: right;
  position: absolute;
  right: 15%;
  width: 70%;
  left: 15%;
  z-index: 100;
  bottom: 10%;
  color: rgb(255, 253, 253);
  cursor: pointer !important;
}

.uitlegCardsTwo  {
  text-align: right;
  position: absolute;
  right: 15%;
  width: 70%;
  left: 15%;
  z-index: 100;
  bottom: 10%;
  color: rgb(255, 253, 253);
  cursor: pointer ;
}

.uitlegCardsTwo .h1, .uitlegCardsTwo p, .uitlegCardsTwo a {
  color: black !important;
}


#aboutButton, #sterrenstof, #impressum {
  cursor: pointer;
}

.h1{
  text-align: right !important;
  display: block;
  font-weight: bold;
  font-size: 14px !important ;
  padding: 0.4rem 0 !important ;
}
.uitlegCardsTwo p, .uitlegCardsOne p, .uitlegCardsThree p  {
  text-align: right;
  padding: 0.2rem 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
} 

.uitlegCardsTwo a, .uitlegCardsOne a, .uitlegCardsThree a  {
  text-align: right;
  padding: 0.2rem 0;
  color: rgb(255, 253, 253);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  
} 

.uitlegCardsThree  {
  text-align: right;
  position: absolute;
  right: 15%;
  width: 70%;
  left: 15%;
  z-index: 100;
  bottom: 10%;
  color: rgb(255, 253, 253);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.two {
  background-image: url(yanji2.png);
  
  z-index: 300;
}

.three {
  background-image: url(sterrenstof.png);
  z-index: 3;
  -webkit-animation: slide-in-bottom 0.9s cubic-bezier(.53,0,.25,.52) both;
          animation: slide-in-bottom 0.9s cubic-bezier(.53,0,.25,.52) both;
          animation-delay: 1.5s;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    
    opacity: 0;
  }
  100% {
    
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    
    opacity: 0;
  }
  100% {
    
    opacity: 1;
  }
}

/* info about the projects */

.extreemRechts {
  background-color: rgb(255, 253, 253);
  position: fixed; 
}

.extreemRechts p {
  padding: 0.5rem 0;
}

.aboutMe-div, .aboutSterrenstof-div, .impressum-div {
  justify-content: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 0.03rem;
  position: fixed;
  font-size: 14px;
  left: 50%;
  width: 50vw;
  height: 100vh;
  display: none;
  color: black;
  padding:10%;
  transition: all 1.5s;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
  transform: translateX(0%);
  -webkit-animation: anim 3.5s ;
  animation: anim 3.5s 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  line-height: 1.6875;
}

.aboutMe-div a, .aboutSterrenstof-div a{
  align-self: flex-start;
  margin-top: 1rem;
  padding: 0.5rem 3rem;
  color: rgb(255, 253, 253);
  border: 1px solid rgba(0, 0, 0, 0.356);
  background-color: rgb(122, 121, 96);
}


.aboutMe-div a:hover, .aboutSterrenstof-div a:hover {
  background-color: transparent;
  color: black;
}

#infoOne, #infoTwo, #infoThree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open-Sans', sans-serif;
  letter-spacing: 0.03rem;
  position: fixed;
  font-size: 15px;
  left: 50%;
  width: 50vw;
  height: 100vh;
  display: none;
  color: black;
  padding: 11%;
  text-align: justify;
  transition: all 1.5s;
  transform: translateX(0%);
  -webkit-animation: anim 3.5s ;
  animation: anim 3.5s 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
}

@-webkit-keyframes anim {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
  14.28% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}
@keyframes anim {
  0% {
    transform: translateX(100%);
  }
  14.28% {
    transform: translateX(0);
  }
  
}

.extreemRechts a {
  font-size: 14px;
}

.close {
  z-index: 1000;
  position: fixed;
  display: none;
  right: 8%;
  top: 8%;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  color: black;
  padding: 2em;     
  margin: -2em; 
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  right: 5%;
  top: 5%;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(27, 26, 26);
}
.close:before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}



.blockquote {
  padding: 5vh;
  position: relative;
}
.blockquote p {
  font-family: "Utopia-italic";
  font-size: 14px;
  font-weight: 700px;
  text-align: justify;
}

.blockquote:before {
position: absolute;
font-family: 'FontAwesome';
top: 3vh;
left: 15vh;
content:"\f10d";
font-size: 50px;
color: rgba(0,0,0,0.1);
 
}

.blockquote::after {
  content: "";
  top: 20px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  border-bottom: 3px solid #bf0024;
  height: 3px;
  width: 200px;
}


/* stars in logo */

.spanStof {
  z-index: 1;
  font-size: 7rem;
  background-image: url(NGC_3114.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-backface-visibility:hidden;
  
}

.halfStyle {
    position:relative;
    z-index: 10;
    font-size: 7rem;
    display:inline-block;
    color: transparent; /* hide the base character */
    overflow:hidden;
    rgb(255, 253, 253)-space: pre;
    background-image: url(NGC_3114.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-backface-visibility:hidden; /* to preserve the spaces from collapsing */
}
.halfStyle:before {
    /*createstheleftpart*/background-image: url(NGC_3114.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-backface-visibility:hidden;
    display:block;
    font-size: 7rem;
    z-index:20;
    position:absolute;
    top:0;
    width: 50%;
    content: attr(data-content);
    /*dynamiccontentforthepseudoelement*/overflow:hidden;
    pointer-events: none;
    /*sothebasecharisselectablebymouse*/color: black;
    /*fordemopurposes*/transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}
.halfStyle:after {
    /*createstherightpart*/background-image: url(NGC_3114.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-backface-visibility:hidden;
    font-size: 7rem;
    display:block;
    direction: rtl;
    /*veryimportant,willmakethewidthtostartfromright*/position:absolute;
    z-index:2;
    top:0;
    left:50%;
    width: 50%;
    content: attr(data-content);
    /*dynamiccontentforthepseudoelement*/overflow:hidden;
    pointer-events: none;
    /*sothebasecharisselectablebymouse*/color: rgb(255, 253, 253);
    /*fordemopurposes*/opacity: attr(data-before);
   
}

.nstof {
  position: relative;
  background-image: url(NGC_3114.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-backface-visibility:hidden;
  font-size: 7rem;
  padding-right: 5px;
  z-index: -1;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

 .uitleg-bg, .h2 .uitleg-bg-two, .uitleg-bg-three {
   display: none;
 } 



/* MEDIA QUERIES */

/* Ipad */

@media only screen 
  and (min-width: 741px) 
  and (max-width: 899px) 
  and (-webkit-min-device-pixel-ratio: 2)
   { 

    .mobile {
      display: none;
    }

      .card {
        border-radius: 1%;
        -webkit-border-radius: 1%;
        -moz-border-radius: 1%;
        -ms-border-radius: 1%;
        -o-border-radius: 1%;
}
    .three {
      background-image: url(sterrenstof.png);
    }

    .one {
      background-image: url(yanji.png);
    }

    .left, .right {
      max-width: 50vw;
      overflow: hidden;
    }

    .h1-titel {
      position: absolute;
      font-size: 4rem;
      display: flex;
      text
    }
    .info {
      padding: 30px 30px 60px 30px;
      font-size: 8px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: rgba(255, 0, 0, 0.048);
    }

    .messenger2 {
      width: 3vh;
      height: 3vh;
    }

    .info ul { 
      padding: 10px;
    }

    #infoOne, #infoTwo, #infoThree {
      padding: 0 8%;
      font-size: 16px;
    }

    .uitlegTime, #verticalLine, .uitlegProjects, .vlOne {
      display: none !important;
    }

    .aboutMe-div, .aboutSterrenstof-div, .impressum-div {
      padding: 0 5%;
      font-size: 15px;
    }

    .slideOut {
      transform: matrix(1, 0, 0, 1, -400, 0);
      -webkit-transform: matrix(1, 0, 0, 1, -400, 0);
      -moz-transform: matrix(1, 0, 0, 1, -400, 0);
      -ms-transform: matrix(1, 0, 0, 1, -400, 0);
      -o-transform: matrix(1, 0, 0, 1, -400, 0);
}
    
  }

  /* Ipad Pro */

@media only screen 
and (min-width: 900px) 
and (max-width: 1250px) 
and (-webkit-min-device-pixel-ratio: 2)
 { 

  .mobile {
    display: none;
  }


  .card {
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}
.three {
  background-image: url(sterrenstof.png);
}

.one {
  background-image: url(yanji.png);
}


.h1-titel {
  position: absolute;
  display: flex;
  top: 44%;
}


  .info {
    padding: 5vh 5vh;
    flex-direction: row;
    background-color: rgba(255, 0, 0, 0.048);
    font-size: 12px;
    justify-content: space-evenly;
  }

  .skills, .about, .contact, .contactMe {
    padding: 0 2vh 2vh 0;
  }


  .left, .right {
    max-width: 50vw;
    overflow: hidden;
  } 
  .slideOut {
    transform: translateX(-55vw);
    -webkit-transform: translateX(-55vw);
    -moz-transform: translateX(-55vw);
    -ms-transform: translateX(-55vw);
    -o-transform: translateX(-55vw);
}

  .blockquote p {
    font-size: 16px;
    padding: 0;
  }

  .blockquote {
    font-size: 16px;
    padding: 5vh 2.5vh;
  }

  .aboutMe-div, .aboutSterrenstof-div, .impressum-div {
    padding: 0 5vh;
    font-size: 14px;
  }

  .impressum-div {
    text-align: center;
  }

  #infoOne, #infoTwo, #infoThree {
    font-size: 16px;
    padding: 8%;
  }
  

 }
  /* Iphone 5s */

  @media only screen 
  and (min-width: 90px) 
  and (max-width: 760px) 
  and (-webkit-min-device-pixel-ratio: 2)
   { 

    .uitlegTime, .columnTwo {
      display: none;
    }
    .overlay {
      left: 0;
      width: 100%;
    }

    .h1-titel {
      font-size: 34px;
      display: flex;
      top: 45%;
    }

    .right {
      position: absolute;
      width: 100vw;
    }

    .left {
      z-index: 2;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-image: url(seven.jpg);
      background-position: 20%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .info {
      font-size: 8px;
      overflow: hidden;
      flex-direction: row !important;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 1rem !important;
      height: 40vh;
      max-width: 100vw;
      background-color: rgb(255, 255, 255);
    }

    .info ul {
      padding-right: 10px !important;
    }

    .info li, .info li a {
      color: rgb(0, 0, 0);
    }

    .intro {
    letter-spacing: 1.5px;
    line-height: normal;
        animation: none;
    list-style: none;
    text-decoration: none;

      color: black;
      background-color: white;
      padding: 1rem;
      height: 30vh;
      width: 100vw;
      font-size: 14px;
      background-color: rgb(255, 255, 255);
    }

    .slideOut {
      transform: translateX(-55vw);
      -webkit-transform: translateX(-55vw);
      -moz-transform: translateX(-55vw);
      -ms-transform: translateX(-55vw);
      -o-transform: translateX(-55vw);
  }

    section, .uitlegTime {
      display: none;
    }

      /* mobile */

    .mobile {
      position: relative;
      top: 100vh;
      color: white;
    }

    .mobile p {
      color: white;
    }
      
      .mobile-about {
        width: 100vw;
        min-height: 600px;
        padding: 2rem 0;
        background: 
      linear-gradient(
        rgba(0, 0, 0, 0.13),
        rgba(0, 0, 0, 0.13)
      ),
      url(NGC_3114.png);
  background-size: cover;    
      }

      .mobile-title {
        color: white; 
        z-index: 2;
        position: relative;
        text-align: left;
       font-weight: bold;
        font-size: 34px;
      text-transform: uppercase;
      padding: 1.5rem 1rem;
      }

      .mobile-text {
        color: white; 
        z-index: 2;
        position: relative;
        text-align: left;
        padding: 0.5rem 1rem;
      }

      .mobile-about p, .project-text a {
        color: white; 
      }

      .mobile-projects {
        width: 100vw;
        min-height: 600px;
        padding: 2rem 0 2rem 0;
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.13),
          rgba(0, 0, 0, 0.082)
        ),
        url(bladbg.jpg);
        background-size: cover;
        background-position: center;   
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .project-text, .mobile-text {
        text-align: left;
        padding: 2rem 5vw;
      }

      .project-text-text{
        text-align: left;
        padding: 2rem 0;
      }

      .mobile-text p {
        padding: 0.5rem 0;
      }

      .mobile-image {
        z-index: 0;
        width: 100vw;
        height: 30vh;
        background-image: url(yanji.jpg);
        background-position: center;
        background-size: cover;
      }

      .project-header {
        
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        padding: 1rem 0;
        width: 90vw;
      }

      .project-text a, .mobile a {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        width: 90vw;
        padding: .5rem 1rem;
        border: 1px solid rgba(0, 0, 0, 0.322);
      }

      .mobile-text a {
        margin: 2rem 0;
        color: white;
      }

      .project-text a:hover {
        color: black;
      }

      .uitlegTime, #verticalLine, .uitlegProjects, .vlOne {
        display: none !important;
      }

      .extreemRechts 
      {
        display: none;
      }

      .veryas  .mobile-image {
        background-image: url(parfum.jpg);
      }

      .sterrenstof  .mobile-image {
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.13),
          rgba(0, 0, 0, 0.082)
        ),
        url(parfum.jpg);
      }

      .veryas {
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.13),
          rgba(0, 0, 0, 0.082)
        ),
        url(parfum.jpg);
      }

      .sterrenstof {
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.13),
          rgba(0, 0, 0, 0.082)
        ),
        url(seven.jpg);
      }


  }


    /* Iphone 

  @media only screen 
  and (min-width: 290px) 
  and (max-width: 500px) 
  and (-webkit-min-device-pixel-ratio: 2)
   { 

    .logo a {
      display: none;
    }

    .intro {
      padding: 5vh 10vh;
      font-size: 12px;
    }
    .logo {
    position: absolute;
    top: 20vh;
    }

    .logo-mobile {
      display: none;
    }

    .spanStof, .halfStyle, .halfStyle:before,.halfStyle:after, .nstof {
      font-size: 3rem;
    }

    .uitlegTime, #verticalLine, .uitlegProjects, .vlOne {
      display: none !important;
    }

    .info {
      flex-wrap: wrap;
      flex-direction: column;
      padding: 5vh 10vh;
      justify-content: space-around;
    }

    .info ul {
      padding-right: 10px;
    }

    .skills, .about, .contact, .contactMe {
      padding: 0;
    }

    .left{
      width: 100vw;
      position: relative;
      overflow: hidden;
      height: 100vh;
    }

    .right {
      width: 100vw;
      position: relative;
      overflow: hidden;
    }

    section {
      width: 100vw;
      height: 100vh;
    }
 
    .uitlegCardsThree {
      bottom: 0;
    }

    .slideOut {
      transform: translateX(-50vw)   ;
      -webkit-transform: translateX(-50vw)   ;
      -moz-transform: translateX(-50vw)   ;
      -ms-transform: translateX(-50vw)   ;
      -o-transform: translateX(-50vw)   ;
}
  }

  @media only screen 
  and (min-width: 370px) 
  and (min-height: 740px) 
  and (max-width: 420px) 
  and (-webkit-min-device-pixel-ratio: 2)
   { 
    .left{
      max-height: 90vh;
    }

    .slideOut {
      transform: translateX(-55vw);
      -webkit-transform: translateX(-55vw);
      -moz-transform: translateX(-55vw);
      -ms-transform: translateX(-55vw);
      -o-transform: translateX(-55vw);
  }
   }

   */
   
   /* Small Screens */


   @media only screen 
and (min-width: 1251px) 
and (max-width: 1390px) 
and (-webkit-min-device-pixel-ratio: 2)
 { 
  .h1-titel {
    display: flex;
  }

  .mobile {
    display: none;
  }
 }
    /* Big Screens */

  @media screen and (min-width: 1200px) and (max-width: 1590px) {

    .mobile {
      display: none;
    }
  
    .left, .right {
      max-width: 50vw;
      overflow: hidden;
    }
    .slideOut {
      transform: translateX(-55vw)   ;
      -webkit-transform: translateX(-55vw)   ;
      -moz-transform: translateX(-55vw)   ;
      -ms-transform: translateX(-55vw)   ;
      -o-transform: translateX(-55vw)   ;
}

    }
  @media screen and (min-width: 1600px) {
    .left, .right {
      max-width: 50vw;
      overflow: hidden;
    } 
    .slideOut {
      transform: translateX(-55vw)   ;
      -webkit-transform: translateX(-55vw)   ;
      -moz-transform: translateX(-55vw)   ;
      -ms-transform: translateX(-55vw)   ;
      -o-transform: translateX(-55vw)   ;
}
.mobile {
  display: none;
}
  }


  @media screen and (min-width: 1900px) {
    .left, .right {
      max-width: 50vw;
      overflow: hidden;
    } 
    .slideOut {
      transform: translateX(-55vw)   ;
      -webkit-transform: translateX(-55vw)   ;
      -moz-transform: translateX(-55vw)   ;
      -ms-transform: translateX(-55vw)   ;
      -o-transform: translateX(-55vw)   ;
}
.mobile {
  display: none;
}
  } 